---
import '../assets/styles/global.css'
import cell_tower from "../assets/images/cell_tower.webp"
---
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={cell_tower.src} />
		<meta name="generator" content={Astro.generator} />
		<title>AlsaMesh</title>
	</head>
	<body class="bg-gray-100">
		<slot />
	</body>
	<script src="../assets/scripts/toggleMenu.js"></script>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
